* {
  box-sizing: border-box;
}

.sidenav {
  height: 100%;
  width: 250px;
  position: fixed;
  z-index: 1;
  top: 50px;
  left: 2%;
  right: 50px;
  text-align: left;
  background-color: #fff;
  overflow-x: hidden;
  padding-top: 10px;
}

.sidenav a {
  padding: 6px 8px 6px 8px;
  text-decoration: none;
  margin-right: 10px;
  font-size: 20px;
  color: #0f0f0f;
  display: block;
  font-family: Roboto,sans-serif;
}

.sidenav a:hover {
  color: #0f0d0d;
  background-color: rgba(24, 224, 108, 0.2);
  border-radius: 15px;
}

hr {
  opacity: 0.5;
  margin-right: 8px;
}

::-webkit-scrollbar {
  width: 30px;
}

@media screen and (max-height: 576px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}
